:root {
    --primary-text-color: rgba (117, 117,117, 1);
    --title-text-color: #212121;
    --accent-color: rgba(33, 150, 243, 1);
    --primary-bcg-color: #fff;
    --font-family: 'Raleway', sans-serif;
    --font-family: 'Roboto', sans-serif;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}