.container-button 
  {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container  {
   
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // margin: 24px 0;
}
.section-1 {
    background-color: #2F303A;
    color: var(--primary-text-color);
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 900;
    height: 600px;
    text-transform: uppercase;
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(to left, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/Img_16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.first-section{
text-align: center;
}


.section-work {
padding: 94px 0;
}
.features-flex {
    display: flex;
    flex-direction: row;
    background: #fff;
    text-align: center;
    column-gap: 30px;
    padding-top: 94px;
    
}

.features-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: left;
    margin-bottom: 0;
}
.features-list-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}
.features-flex__features-item {
    display: flex;
    text-align: center;
    column-gap: 30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}
.features-flex__list {
    width: 270px;
}
.features-flex__list::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.icon-antenna::before {
    background-image: url(../images/antenna.png);
    border-radius: 4px;
}
.icon-clock::before {
    background-image: url(../images/clock.png);
    border-radius: 4px;
}
.icon-diagram::before {
background-image: url(../images/diagram.png);
border-radius: 4px;
}
.icon-astronaut::before {
    background-image: url(../images/astronaut.png);
    border-radius: 4px;
}

.features-flex-item :last-child {
    margin-right: 0;
}
.our-team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-team-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.our-team-list {
    padding-top: 30px;
    padding-bottom: 16px;
}
.staff-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 0px;
}
.staff-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 0px;
}
.section-work__we-do {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}


.staff-flex {
    display: flex;
    text-align: center;
    padding-left: 0;
    column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.staff-flex li {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.imgclass {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.section-work__img-do {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-work__text-img {
    position: relative;
    display: flex;
    background: rgba(47, 48, 58, 0.8);
}
.section-work__text {
    position: absolute;
    color: #FFFFFF;
    width: 370px;
    height: 70px;
    text-align: center;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.8);

}

.sociales .staff-sociales {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    padding-left: 0;
    
}

li.social-item {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
}
li.social-item:last-child {
    margin-right: 0;
}
.sociales .icon-social {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.imgface {
    width: 270px ;
    height: 260px;
}
.imgclass:not(:last-child)
{
    margin-right: 30;

}

// .sociales .social-item {
//     margin-left: 10px;
// }
.staff-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 0px;
}
.icon-social {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}


.staff-sociales {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}
.portfolio-section 
{
    background-color: var(--primary-bcg-color);
    padding: 94px 0;
}
.regular-customers {
    padding:94px 0;
}
.container-customers {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.customers-list {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    padding-left: 0;
    margin: 0;
}


.company {
    fill: #AFB1B8;
}                       
  li.customers-item  a:hover .company,
  li.customers-item  a:focus .company {
    fill:var(--accent-color); 
} 
 .subscribe {
    padding-left: 93px;

 }
 
 .subscribe__input {
    min-width: 358px;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 }
 
 .icon-icon-send {
    fill: currentColor;
    padding-left: 10px;
 }
 .nav-second-list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .nav-second-list__item {
    display: flex;
    margin-left:0px;
    align-items: center;
    justify-items: center;
  }
  .nav-second-list-item:last-child {
    margin-left: 0;
  } 
  

 
  .nav-port {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}
.nav-port__item {
    display: flex;
    margin-right: 9px;
   
}
.nav-port__item:last-child{
    margin-right: 0;
}
.list-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    border: 1 solid transparent;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: 250ms var(--timing-function);
    &:hover {color: var(--primary-bcg-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--accent-color);}
    &:focus {color: var(--primary-bcg-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--accent-color);}
}

.offers-border {
    border: 1px  solid #eeeeee;
    padding: 20px 24px;
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-thumb:hover .overlay {
    transform: translateY(0%);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition:  250ms var(--timing-function);
}

.text-thumb {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-bcg-color);
}
.offers {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;

}
.offers__item {

margin: 0;
padding: 0;
max-width: 370px;
background: #FFFFFF;
cursor: pointer;
&:hover {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);}
&:focus {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);}
}
.offers__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

.offers-link:hover,
.offers-link:focus

{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.subsribe-client {
    vertical-align: middle;
}
.photo {
    display: flex;
    margin-right: 30px;
}